@{
    ViewBag.Title = "Home Page";
}

<h1 id="willkommen">Willkommen</h1>
<p id="h2startseite">zu unserer heutigen Präsentation zum Thema ASP.NET!</p>
<div style="text-align: center;">
    <img alt="Logo ASP.NET" src="../../Content/ASP-NET-Logo.png" style="height: 280px;">
</div>